NEXT_PUBLIC_SUPABASE_URL=[SLE]
NEXT_PUBLIC_SUPABASE_ANON_KEY=[SYNC KEY]
SUPABASE_SERVICE_ROLE_KEY=[SYNC KEY]
JWT_SECRET=[SYNC KEY]
PAYSTACK_SECRET_KEY=[SYNC KEY]
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=[SYNC KEY]
NEXT_PUBLIC_APP_URL=http://localhost:3000
